.label {
    color: whitesmoke;
    display: block;
    margin: 10px 0;
}

.singleLineInput {
    width: 99%;
    height: 30px;
    border: 1px solid #2b2d30;
    border-radius: 5px;
    color: whitesmoke;
    background-color: #313437;
    font-size: 1.25em;
}

.input:focus {
    outline: #313437 1px;
}
