.listItem {
    padding: 10px;
    background-color: dimgrey;
    color: lightgray;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    margin: 5px 0;
}

.regularItem {
    color: lightgray;
    text-decoration: none;
}

.leftContainer {
    flex: 4;
    align-self: center;
}

.rightContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    text-align: right;
}

.listItem h4 {
    margin: 0;
}

.listItem p {
    margin: 0;
    align-self: center;
    max-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}
